/*! comments.css | Mitsu | v0.0.5 */
.avatar {
	border-radius: 10px;
	margin-right: 10px;
}
#cancel-comment-reply-link {
	color: red;
}
.comment-author {
	font-weight: bold;
}
.comment-body {
	list-style: none;
	margin: 10px 0;
	padding: 5px;
}
.comment-children {
	border-left: solid gray 5px;
}
.comment-list {
	padding-left: 10px;
}
.comment-meta {
	font-size: small;
	margin-bottom: 5px;
}
.comment-meta > a {
	color: gray;
	font-style: italic;
	margin-right: 10px;
}
.comment-parent {
	border-bottom: dashed lightgray 2px;
}
.comment-reply {
	color: #06f;
}
.respond {
	border-bottom: dashed gray 3px;
	padding-bottom: 10px;
}
.response-item {
	border: solid gray 2px;
	border-radius: 10px;
	margin: 3px 0;
	outline: none;
	padding: 5px;
	width: 100%;
}
.response-item:focus {
	border: solid #5af 2px;
}
.response-title {
	margin: 10px 0;
}
#response-text {
	height: 100px;
}
#response-submit {
	background: aquamarine;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	padding: 3px 20px;
	margin: 3px 0;
	transition: all .3s;
}
#response-submit:hover {
	background-color: skyblue;
	color: #fff;
}