/*! grid.css | v0.0.1 */
.container {
	box-sizing: border-box;
}
.row {
	display: flex;
	align-items: center;
}
.rev-row {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}
.column {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.position-fixed {
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}
.margin-top-30 {
	margin-top: 30px !important;
}