/*! mitsu.css - Mitsu - v0.0.1 */

a {
	color: inherit;
	text-decoration: 0;
}

body {
	background: #f7f7f7;
}

/* Top bar | z-index: 5000 */
#top-bar {
	background: #fffa;
	backdrop-filter: blur(5px);
	left: 0;
	padding: 15px 5%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 5000;
}
#top-bar-title {
	font-size: 1.3em;
	font-weight: bold;
}
#top-bar-nav>div {
	color: black;
	font-weight: bold;
	margin: 0 15px;
	transition: all .2s;
}
#top-bar-nav>div:hover {
	color: crimson;
}
.top-bar-nav-current {
	color: crimson !important;
}
@media (max-width: 600px) {
	#top-bar-nav {
		display: none;
	}
}

/* Header */
header {
	color: white;
	height: 400px;
	width: 100%;
}
#header-title {
	font-size: 3em;
	margin-bottom: 20px;
	max-width: 90%;
}
#header-desc {
	font-size: 1.2em;
	max-width: 90%;
	min-height: 1.2em;
}
@media (max-width: 600px) {
	header {
		max-height: 250px;
	}
	#header-title {
		font-size: 1.5em;
		margin-bottom: 0;
	}
	#header-desc {
		display: none;
	}
}

/* Article */
.article-list {
	margin-bottom: 40px;
	width: 100%;
}
.article-item {
	background: white;
	border-radius: 10px;
	box-shadow: lightgray 1px 1px 5px;
	margin: 40px auto 0 auto;
	padding: 30px 20px;
	transition: box-shadow .2s;
	width: 60%;
}
.article-item:hover {
	box-shadow: lightgray 1px 1px 10px;
}
.article-title {
	margin-top: 0;
}
.article-body {
	margin: 20px 0;
}
.article-meta {
	color: #bbb;
	font-size: 0.8em;
}
.article-meta>div {
	margin-right: 20px;
}
@media (max-width: 600px) {
	.article-item {
		width: 90%;
	}
	.article-meta-tag {
		display: none;
	}
}

/* Page navigation */
.page-nav {
	font-weight: bold;
	margin-bottom: 40px;
}
.page-nav>div {
	border-radius: 10px;
	margin: 0 20px;
	padding: 5px 10px;
	transition: all .5s;
}
.page-nav>div:hover {
	background: #aaa;
	color: white;
}
.page-nav-current {
	background: #aaa;
	color: white;
}

/* Side button | z-index: 9999 */
#side-btn {
	bottom: 10%;
	right: 5%;
	position: fixed;
}
#side-btn>div {
	background: white;
	border-radius: 100%;
	box-shadow: lightgray 1px 1px 5px;
	cursor: pointer;
	margin: 10px;
	padding: 10px;
	height: 50px;
	width: 50px;
	transition: box-shadow .3s;
}
#side-btn>div:hover {
	box-shadow: gray 1px 1px 5px;
}
@media (max-width: 600px) {
	#side-btn {
		display: none;
	}
}

/* Sidebar | z-index: 10000~10001 */
#sidebar-background {
	background: black;
	height: 0;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;
}
.sidebar-background-show {
	height: 100% !important;
	opacity: 0.7 !important;
	transition: opacity .3s !important;
}
.sidebar-background-hide {
	height: 0 !important;
	opacity: 0 !important;
	transition: opacity .3s, height .1s step-end .3s !important;
}
#sidebar {
	background: #f7f7f7dd;
	height: 100%;
	position: fixed;
	top: 0;
	width: 500px;
	max-width: 100%;
	z-index: 10001;
	transition: left .3s;
}
.sidebar-show {
	left: 0 !important;	
}

/* Footer */
#before-footer {
	color: lightgray;
	font-size: 0.8em;
	text-align: center;
}
footer {
	border-top: lightgray dashed 3px;
	color: gray;
	padding: 40px 0;
	width: 100%;
}
footer>div {
	margin-bottom: 5px;
}
