/*! flex.css - Mitsu - v0.0.1 */

.flex-row {
	display: flex;
}
.flex-row-rev {
	display: flex;
	flex-direction: row-reverse;
}
.flex-col {
	display: flex;
	flex-direction: column;
}
.flex-col-rev {
	display: flex;
	flex-direction: column-reverse;
}

.flex-m-end {
	justify-content: flex-end;
}
.flex-m-center {
	justify-content: center;
}
.flex-m-between {
	justify-content: space-between;
}

.flex-x-center {
	align-items: center;
}
