/*! style.css | Mitsu | v0.0.5 */
/* Global */
a {
	color: black;
	cursor: pointer;
	text-decoration: none;
	width: fit-content;
}
html {
	background-color: #f8f8f8;
}
html::-webkit-scrollbar {
	width: 6px;
}
html::-webkit-scrollbar-thumb {
	background-color: gray;
	border-radius: 15px;
}
.a-blue {
	color: #06f;
}
.alnk {
	position: relative;
}
.alnk::after {
	background-color: currentColor;
	content: '';
	height: 1.5px;
	left: 0;
	position: absolute;
	top: 100%;
	transform: scale(0);
	transform-origin: left;
	transition: all .3s;
	width: 100%;
}
.alnk:hover::after {
	transform: scale(1);
}
.fixed {
	position: fixed;
	top: 0;
}
.frame {
	background-color: #fffd;
	border-radius: 30px;
	max-width: 800px;
	overflow: hidden;
	width: 90%;
	z-index: 250;
}
.side-btn {
	align-items: center;
	background-color: #fffa;
	border-radius: 100%;
	cursor: pointer;
	display: flex;
	height: 50px;
	justify-content: center;
	position: fixed;
	right: 5%;
	width: 50px;
}
#background {
	background-position: center;
	background-size: cover;
	height: 100%;
	width: 100%;
	z-index: -1;
}
/* Maintain */
.maintain {
	background: linear-gradient(45deg, #ff0 25%, #000 0, #000 50%, #ff0 0, #ff0 75%, #000 0);
	background-size: 100px 100px;
	height: 100%;
	max-width: 20px;
	width: 2%;
	z-index: 1000;
}
.maintain:hover {
	filter: brightness(.9);
}
/* Header */
.nav-item {
	font-size: large;
	padding: 0 10px;
}
#header {
	align-items: center;
	background-color: rgba(255, 255, 255, .85);
	display: flex;
	justify-content: space-between;
	padding: 15px 20%;
	width: 100%;
	z-index: 500;
}
#header-more {
	cursor: pointer;
	display: none;
	position: fixed;
	top: 10px;
}
#nav-menu {
	align-items: center;
	display: flex;
}
#site-name {
	font-size: x-large;
	font-weight: bold;
}
@media (max-width: 600px) {
	#nav-menu {
		display: none !important;
	}
	#header-more {
		display: block;
	}
}
/* Main */
#main {
	margin: 100px auto;
}
#main-frame {
	padding: 15px 15px 0 15px;
}
#main-info {
	bottom: 0;
	margin: 0 0 15px 15px;
	position: absolute;
}
#main-pic {
	background-image: url("https://s4.ax1x.com/2021/12/15/ozy7Ax.jpg");
	background-position: center;
	background-size: cover;
	height: 300px;
	position: relative;
}
#main-title {
	color: #fff;
	margin: 0;
	font-weight: normal;
}
@media (max-width: 900px) {
	#main-pic {
		height: 150px;
	}
}
/* Archive */
.post {
	margin: 0 15px;
	padding: 10px;
	transition: all .3s;
}
.post:hover {
	border-left: solid 5px black;
}
.post-divide {
	margin: 0 10px;
}
.post-excerpt {
	margin-top: 5px;
	margin-bottom: 10px;
	max-width: 95%;
	font-style: italic;
	overflow-wrap: break-word;
	color: darkgray;
}
.post-nothing {
	margin: 50px;
	text-align: center;
}
.post-title {
	margin: 10px 0;
}
#page-nav {
	font-size: 1.2em;
	font-weight: bold;
	margin: 0 auto;
	max-width: 800px;
	padding: 15px;
	padding-bottom: 15px;
}
#page-nav-prev {
	width: -webkit-fill-available;
}
#page-nav-next {
	width: -webkit-fill-available;
	text-align: right;
}
@media (max-width: 600px) {
	.post-divide {
		display: none;
	}
	.post-time {
		display: none;
	}
}
/* Post */
#main-category {
	color: #fff;
	font-size: small;
}
#main-category a {
	color: #fff;
}
/* Like */
#like {
	background-color: #6cf;
	border-radius: 5px;
	box-shadow: #59f 0 3px;
	color: #fff;
	cursor: pointer;
	margin: 0 auto 20px auto;
	padding: 5px;
	text-align: center;
	transition: all .3s;
	width: 10%;
}
#like:hover {
	box-shadow: #59f 0 6px;
	transform: translateY(-3px);
}
.liked {
	background-color: #fff56e !important;
	box-shadow: #e0d64f 0 3px !important;
	color: red !important;
	cursor: default !important;
}
.liked:hover {
	box-shadow: #e0d64f 0 3px !important;
	transform: none !important;
}
/* Sidebar */
.page-name {
	padding: 5px 10px;
	text-align: center;
	width: 50%;
}
.sidebar-item {
	box-shadow: gray 1px 1px 10px;
	margin-bottom: 20px;
	width: 90%;
}
.social-img {
	height: 80%;
	width: 80%;
}
.social-link {
	align-items: center;
	background-color: #fff;
	border-radius: 100%;
	display: flex;
	height: 32px;
	justify-content: center;
	margin: 0 3px 5px 3px;
	width: 32px;
}
#author-background {
	background-position: center;
	background-size: cover;
	border-radius: 15px;
	box-shadow: lightgray 0 0 1px 1px inset;
	height: 100%;
	left: 0;
	opacity: 0.3;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 752;
}
#author-card {
	align-items: flex-start;
	display: flex;
	padding: 20px;
}
#author-img {
	border-radius: 10px;
	height: 100px;
	width: 100px;
	z-index: 753;
}
#author-info {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-left: 5px;
	width: -webkit-fill-available;
	z-index: 753;
}
#author-name {
	font-size: x-large;
	font-weight: bold;
}
#comment {
	bottom: 10%;
}
#darkback {
	backdrop-filter: blur(0);
	background-color: rgba(0, 0, 0, 0);
	height: 100%;
	transition: backdrop-filter,background-color .4s;
	width: 100%;
	z-index: -2;
}
#more {
	bottom: 10%;
}
#pages-title {
	font-size: large;
	font-weight: bold;
	text-align: center;
	width: 100%;
}
#search-bar {
	background: none;
	border: none;
	height: 2em;
	outline: none;
	width: 80%;
}
#search-btn {
	background: none;
	border: none;
	color: #fff;
	font-weight: bold;
	width: 20%;
}
#sidebar {
	background-color: #fffc;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
	display: none;
	height: 100%;
	max-width: 400px;
	min-width: 300px;
	padding: 15px;
	text-align: right;
	width: 40%;
	z-index: 751;
}
#sidebar-back {
	cursor: pointer;
}
#sidebar-info {
	background-color: #fff7;
	border-bottom: solid lightgray 1px;
	border-radius: 15px;
	border-right: solid lightgray 1px;
	height: 150px;
	overflow: hidden;
	position: relative;
}
#sidebar-pages {
	align-items: center;
	background-color: #fff;
	border-radius: 15px;
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
}
#sidebar-search {
	background: linear-gradient(90deg, white 80%, black 20%);
	border: solid black 3px;
	border-radius: 5px;
}
#social-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 10px;
	width: 105%;
}
#top {
	bottom: 20%;
}
@media (max-width: 600px) {
	more {
		display: none;
	}
}
@media (max-width: 900px) {
	#author-card {
		align-items: center;
		flex-direction: column;
	}
	#author-info {
		margin-left: 0;
		margin-top: 10px;
	}
	#sidebar-info {
		height: inherit;
	}
}
/* Footer */
.footer-item {
	margin-bottom: 7px;
}
#footer {
	margin: 0 auto 30px auto;
	padding: 15px;
}
#footer-time {
	font-weight: bold;
	font-size: 1.2em;
	margin-top: 10px;
}
/* Comments */
#comments {
	margin: 0 auto 100px auto;
	padding: 15px;
}
/* Flex */
.flex-container {
	align-items: center;
}
.flex-row {
	display: flex;
}
.flex-rev-row {
	display: flex;
	flex-direction: row-reverse;
}
.flex-column {
	display: flex;
	flex-direction: column;
}
.flex-rev-column {
	display: flex;
	flex-direction: column-reverse;
}
